@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
body{
 font-family: Helvetica, Sans-Serif;
margin:0;
}
.row{
  display:flex;

}
.col{
flex:50%;
margin:1%;
padding: 1%;
text-align:center;
font-size: 45px;
}
.nav-link{
  margin-left:9%;
  margin-right: 9%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding:1%;
  background-color:#969696;
  color:white;
  text-decoration: none;
  flex:33%;
  border-radius:10px;
}

.nav-link:hover{

  background-color: #bfbdbd;
  color:white;
    border-radius: 20px;
}
.learn-more:hover{

  background-color: #bfbdbd;
  color:white;
    border-radius: 50px;
}
.learn-more2:hover{

  background-color: #bfbdbd;
  color:white;
    border-radius: 50px;
}
.learn-more3:hover{

  background-color: #bfbdbd;
  color:white;
    border-radius: 50px;
}
.nav-bar{
  background-color: #969696;
  text-align: center;
  vertical-align: middle;
  position:sticky;

}
.nav-active{
box-shadow: 0px 0px 20px #bfbdbd;
}

.logo{
text-align: center;
}

.container{
  position: relative;
  text-align: left;
  color: white;
}
.top-left1 {
  position: absolute;
  top: 300px;
  left: 100px;
  font-size:90px;
}

.top-left2 {
  position: absolute;
  top: 300px;
  left: 100px;
  font-size:90px;

}

.top-left {
  position: absolute;
  top: 100px;
  left: 100px;
  font-size:30px;
}
.bottom-left {
  position: absolute;
  bottom: 100px;
  left: 100px;
  font-size: 120px;
}
.bottom-right {
  position: absolute;
  bottom: 100px;
  right: 100px;
  font-size: 30px;
  text-align: right;
}
.top-right {
  position: absolute;
  top: 100px;
  right: 100px;
  font-size: 120px;
  text-align: right;
}
  .made-by{
position: absolute;
top:620px;
left:100px;
font-size: 30px;

  }
  .learn-more{
position: absolute;
top:680px;
left:100px;
font-size: 30px;
text-decoration: underline;
color: white;
background-color: #969696;
padding: 1%;
border-radius: 50px;
}
.learn-more2{
position: absolute;
top:170px;
left:200px;
font-size: 70px;
text-decoration: none;
color: white;
border-radius: 20px;
padding: 1%;

  }
  .learn-more3{
  position: absolute;
  top:70px;
  left:200px;
  font-size: 70px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 1%;

    }

.price1{
  color: white;
  position: absolute;
  top:670px;
  left: 100px;
  text-align: left;
  font-size: 30px;

}
.price2{
  color: white;
  position: absolute;
  top:670px;
  left: 1220px;
  text-align: left;
  font-size: 30px;

}
.price3{
  color: white;
  position: absolute;
  top:1330px;
  left: 100px;
  text-align: left;
  font-size: 30px;

}
.price4{
  color: white;
  position: absolute;
  top:1330px;
  left: 1220px;
  text-align: left;
  font-size: 30px;

}
